<!DOCTYPE html>
{% load bootstrap3 staticfiles i18n %}
{% load url from future %}
<html>
<head>
    {% bootstrap_css %}
    <title></title>
</head>
<body>
  <ul>
{% if request.user.is_authenticated %}
    <li>
        <a href="{% url 'logout' %}">Logout</a>
    </li>
{% else %}
    <li>
        <a href="{% url 'login' %}">Login</a>
    </li>
    <li>
        <a href="{% url 'register' %}">Register</a>
    </li>
  </ul>
{% endif %}
{% if messages %}
    <div>
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    </div>
{% endif %}
<div class="container">
  {% block content %}
</div>
{% endblock %}
</body>
</html>
