{% extends 'index.html' %}

{% block content %}
    <div><a href="{% url 'index' %}">Back</a></div>
    <table>
     <tr>
            <th>Name</th>
            <th>City</th>
            <th>Country</th>
            <th>Website</th>
        </tr>
     {% for item in band_list %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.city }}</td>
            <td>{{ item.country }}</td>
            <td><a href="{{ item.website }}">{{ item.website }}</a></td>
        </tr>
        {% endfor %}
    </table>
    <div><a href="{% url 'index' %}">Back</a></div>
{% endblock %}